// Palette couleur n°1 //
$color1 : #0E2C40;
$color2 : #1A4A5A;
$color3 : #148D8D;
$color4 : #C1E1A7;
$color5 : #EFBC75;
// Palette couleur n°2 //
$color6 : #F6F4F4;
$color7 : #AA9582;
$color8 : #B8A29A;
$color9 :#E35B62;
$color10: #303C4E;

// COULEURS DU TEXTE // A voir avec la palette choisie //
$main-text:#0E2C40;
$secondary-text: #4b4b4b;
$error-text:#b61515;
$help-text :#1cc26f;
$noir : #000000;
$blanc : #ffffff;


// DEGRADES

// $present : linear-gradient(63deg, rgba(210,0,245,1) 0%, rgba(245,210,0,1) 100%);
// $retro : 60deg, rgba(245,0,34,1) 0%, rgba(0,245,211,1) 100%;
// $retro2 : 60deg, rgba(0,245,211,1) 0%, rgba(245,0,34,1) 100%;
// $futur : 60deg, rgba(35,245,0,1) 00%, rgba(0,35,245,1) 100%;
// $eclair : 180deg, rgba(35,245,0,1) 0%, rgba(245,210,0,1) 100%;
// $eclair2 : 180deg, rgba(0,35,245,1) 0%, rgba(245,210,0,1) 78%;