<!-- *** SECTION HERO VIDEO ***-->
<section class="hero">
	<div class="video-container">
		<video autoplay muted loop class=" video ">
			<source src="assets/video/Home_video_mai.mp4">
		</video>
		<div class="voverlay">
			<h1 class="hero-h1">Mama Africa Innovation</h1>
			<p class="hero-p">L'intelligence collective pour de meilleures solutions face aux enjeux planétaires</p>
			<a class="btn ghost discover" href="{{path('pages_about')}}">
				<span>&#8594;</span>
				Découvrir notre vision
				<span>&#8594;</span>
			</a>
		</div>
		<div class="voverlay-mobile">
			<h1 class="hero-h1-mobile">Mama Africa Innovation</h1>
			<p class="hero-p-mobile">L'intelligence collective pour de meilleures solutions<br>face aux enjeux planétaires</p>
			<a class="btn ghost discover" href="{{path('pages_about')}}">
				<span>&#8594;</span>
				Découvrir notre vision
				<span>&#8594;</span>
			</a>

		</div>
	</div>
</section>
<!-- *** FIN SECTION HERO VIDEO ***-->
