{% extends 'base.html.twig' %}

{% block title %}Devenir adhérent- Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}
	<body class="bg-adherent">


		<main>
			<section class="section-adherent">
				<h1>Devenir adhérent</h1>
				<h2>NOUS REJOINDRE</h2>


				<p>Le Réseau Mama Africa Innovation est le 1er réseau qui amène les entrepreneurs socio-économiques africains, européens et du monde à travailler ensemble pour développer l’intelligence collective, renforcer les compétences et l’accompagnement à l’international et faire grandir un modele économique social adapté.
					                Pour porter haut et fort une voix commune des secteurs stratégiques de l’économie à impact, nous nous regroupons en communautés  pour :
					<br><br>
					- Echanger régulièrement et effectuer une veille d’actualité.
					<br><br>
					- Prendre des positions rapides et coordonnées sur l’actualité.
					<br><br>
					- Partager des outils des bons plans et des contacts organisés des évènements de networking et de lobbying spécifiques a nos secteurs.</p>


				<h2>POURQUOI NOUS REJOINDRE ?</h2>
				<h3>Une communauté engagée d’échange et d’entraide entre pairs.</h3>

				<div class="photos">
					<img src="{{asset('assets/img/rejoindre/working.jpg')}}" loading="lazy" alt="Photo de deux collègues se tapant dans la main">
					<img src="{{asset('assets/img/rejoindre/working-couple.jpg')}}" loading="lazy" alt="Photo de deux collègues travaillant ensemble sur un ordinateur">
					<img src="{{asset('assets/img/rejoindre/searching.jpg')}}" loading="lazy" alt="photo d'une femme travaillant sur son ordinateur">
					<img src="{{asset('assets/img/rejoindre/group.jpg')}}" loading="lazy" alt="Photo d'un groupe de jeunes travaillant sur leurs ordinateurs portables">
				</div>

				<p>
					-Des communautés internationales pour des échanges digitalisés ou présentiels.<br><br>
					-Un espace adhérent en ligne.
					<br><br>
					-Des outils et contacts pour accélérer votre développement par presse.
					<br><br>
					-Des communautés de la diversité.
					<br><br>
					- Un collectif pour porter une voix commune au service de la transition numérique,de l'agriculture et de l’écologie.
					<br><br>
					-Créer des tontines financières.
					<br><br>
					-Bénéficier d’une vitrine pour vos activités.
					<br><br>
					-Des prises de paroles régulières par des grands chefs d’entreprise et juristes.
					<br><br>
					-L’organisation chaque année de Barbecues Innovants dans un pays donné pour resauter, promouvoir et détecter.
					<br><br>
					-Les entreprises, startups, porteurs de projets et associations à impact sur les territoires français, sur le continent africain et le reste du monde, ayant un potentiel de croissance sur un marché.
					<br><br>
				</p>
				<p class="gras">Adhésion pour un an : 50€.</p>

				<button>
					<a href="https://www.helloasso.com/associations/mama-africa-innovation/adhesions/adhesion-reseau-mama-africa-innovation-1" target="_blank">Formulaire d'adhésion</a>
				</button>
			</section>
		</main>

	</body>
{% endblock %}
