{% extends 'base.html.twig' %}

{% block title %}Devenir ambassadeur- Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}
	<body class="bg-ambassadeur">


		<main>
			<section class="section-ambassadeur">
				<h1>Devenir ambassadeur</h1>

				<img src="{{asset('assets/img/rejoindre/ambassadeur.jpg')}}" loading="lazy" alt="photo d'un homme d'affaires">
				<p class="para1">
					Devenir ambassadeur.rice Mama Africa Innovation  c'est :
					<br>
					<br>
					- Porter un message fort de sens: celui de l’importance du développer une véritable culture entrepreneuriale de toutes les régions du monde, de fédérer des associations,fondations et les entrepreneurs sociaux du monde, pour qu'ils travaillent ensemble pour développer l'intelligence collective.
					<br>
					<br>
					- Promouvoir l’entrepreneuriat social, l’éducation, l’innovation, la culture et l’orientation professionnelle des jeunes.
					<br>
					<br>
					- Favoriser la réinsertion des enfants de la rue, autonomiser et renforcer les compétences des femmes et des hommes, combattre la mendicité et la promotion de la prise en charge des jeunes, afin de booster le développement intégral et durable du Continent Africain, européen et du monde.
					<br>
					<br>
					- Faire vivre ce lien social entre un entrepreneur africain, Européen et du monde pour que le mieux vivre ensemble ait un sens au quotidien.
					<br>
					<br>
					- Mettre en place et participer à des rencontres physiques et  virtuelles  (accompagner des associations,entrepreneurs ,startups,porteurs de projet à aller à la rencontre de leur paire).
					<br>
					<br>
					- Dénicher des projets d'impact social innovants dans vos communautés.
					<br>
					<br>
				</p>


				<p class="para2">Tu souhaites nous rejoindre? Il te suffit de remplir le formulaire d'inscription, nous te recontacterons très bientôt!</p>
				<button>
					<a href="https://docs.google.com/forms/d/1Apd8uj1Y9of21JCFjLonCPXJ31WYhHnmpLe6dyi-p7A/viewform?edit_requested=true" target="_blank">Formulaire d'inscription</a>
				</button>
			</section>
		</main>

	</body>
{% endblock %}
