{% extends 'base.html.twig' %}

{% block title %}Devenir mentor- Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}


	<main>
		<h1>DEVENEZ MENTOR DE L’INCUBATEUR DE LA DIVERSITE
		</h1>
		<section class="section-mentor1">
			<div class="texte">
				<p class="introduction">Se lancer dans une aventure entrepreneuriale pour la première fois est un voyage en solitaire vers l’inconnu. Les mentors de l’incubateur de la diversité, permettent de placer l’humain au centre de ce voyage pour apporter un soutien capital aux entrepreneurs que nous accompagnons.
					            L'incubateur de la diversité a pour objectif de développer la culture entrepreneuriale dans les milieux défavorisés et dans les milieux ruraux d’Europe, d’Afrique et du monde mais aussi de promouvoir la diversité et créer un véritable réseau des innovateurs sociaux actifs sur le territoire.</p>
				<p>Vous êtes entrepreneur  chef d’entreprise, PDG ou avez été entrepreneur au moins une trois  d’années (créateur ou repreneur d’entreprise) ?</p>
				<p>Vous avez l’expérience de succès et de difficultés et vous pensez que cette expérience peut servir à des entrepreneurs moins expérimentés ayant à faire face à des enjeux, des décisions importantes ?</p>
				<p>Vous souhaitez vous investir personnellement et bénévolement parce que vous connaissez les difficultés et savez ce que signifie la solitude de l’entrepreneur et vous souhaitez change le monde ?</p>
				<p>Vous êtes disponible quelques heures par mois ?</p>
				<p>Vous êtes prêts à soutenir un entrepreneur avec bienveillance, par de l’écoute, du questionnement et du partage d’expérience ?</p>
				<br><br>
			</div>

		</section>

		<section class="section-mentor2">
			<h2>Quel est le rôle du mentor ?</h2>
			<div class="flex-mentor">
				<div class="flex-box-mentor">
					<h3>SOUTENIR</h3>
					<i class="fas fa-comments"></i>
					<p class="para-icone">Sortir l’entrepreneur de sa solitude de dirigeant.</p>
				</div>

				<div class="flex-box-mentor">
					<h3>AIDER</h3>
					<i class="far fa-star"></i>
					<p class="para-icone">À accroître son développement en tant qu’entrepreneur.</p>
				</div>

				<div class="flex-box-mentor">
					<h3>QUESTIONNER</h3>
					<i class="fas fa-question-circle"></i>
					<p class="para-icone">Pour l’aider à augmenter sa compréhension des problèmes.</p>
				</div>

				<div class="flex-box-mentor">
					<h3>CONDUIRE</h3>
					<i class="fas fa-rocket"></i>
					<p class="para-icone">À identifier les différentes solutions et à discerner les avantages et les inconvénients de celles-ci.</p>
				</div>

				<div class="flex-box-mentor">
					<h3>GUIDER</h3>
					<i class="fas fa-bullseye"></i>
					<p class="para-icone">Dans sa réflexion, pour lui permettre de choisir et appliquer ses propres solutions.</p>
				</div>

				<div class="flex-box-mentor">
					<h3>ACCOMPAGNER</h3>
					<i class="fas fa-edit"></i>
					<p class="para-icone">L’accompagner sans prendre les décisions à sa place mais dire les choses telles qu’elles sont.</p>
				</div>
			</div>
		</section>


		<section class="section-mentor3">
			<h2>Pourquoi devenir mentor ?</h2>

			<ul>
				<li>Participer concrètement et activement au développement économique du continents Européen, d’Afrique et du monde.</li>
				<li>Contribuer à la réussite d’entrepreneurs sociaux en les faisant bénéficier de son expérience.</li>
				<li>Contribuer à assurer la pérennité et la reprise des entreprises existantes.</li>
				<li>Donner ce qu’on aurait aimé recevoir à nos débuts.</li>
				<li>Revivre une aventure entrepreneuriale mais sans en porter la responsabilité.</li>
				<li>Découvrir d’autres façons de diriger une entreprise.</li>
				<li>Grandir en tant que personne.</li>
				<li>Développer son réseau avec des entrepreneurs partageant les mêmes valeurs.</li>
				<li>Participer à différentes rencontres, locales, nationales ou internationales.</li>
				<li>Dans le cadre du développement des cellules, les mentors peuvent également être sollicités pour des prises de parole en public lors d’événements entrepreneuriaux ou dans des media.</li>
			</ul>

		</section>


		<section class="section-mentor4">

			<h2>Qu’apporte un mentor ?</h2>
			<p>
				Le mentor est bénévole et s’engage sur le long terme. Pendant cet accompagnement régulier, le mentor encourage et soutient l’entrepreneur qu’il accompagne. Il lui apporte son expérience d’entrepreneur. Sa distanciation favorise une approche plus objective aux problèmes qu’il rencontre, aux défis qui jalonnent son quotidien.
				Avant de débuter leur première relation mentorale, chaque mentor est formé par un pair à la posture de mentor dans le cadre d’un atelier collectif.
				Chaque relation mentorale est suivie par le coordinateur du programme. A tout moment, le mentor peut prendre contact avec le coordinateur ou un mentor référent du programme pour échanger sur d’éventuelles difficultés dans sa relation mentorale.</p>

		</section>

		<button>
			<a href="https://docs.google.com/forms/d/1EaJGwvAZZS-s7MoGQHxKnjKo-wKmSOm7MtiyvdZb7j8/viewform?edit_requested=true" target="_blank">Devenir mentor</a>
		</button>

	</main>

{% endblock %}
