{% extends 'base.html.twig' %}


{% block title %}Faire un don - Mama Africa Innovation
{% endblock %}

{% block body %}
	{% include "partials/margin-top-5rem.html.twig" %}



	<main class="bg-remerciements">

        <section class="section-remerciements">

                <h1 class='title-dons'></h1>
                    

                        
        </section>


    </main>

{% endblock %}
