.bg-img{

    background-image: url(../../../../assets/img/illustrations/world_human.webp);
    background-size: cover; 
    background-repeat: no-repeat;


form {
    margin: 45vh 25%;
    padding : 2%;
    background: white;  
    height : 80vh;
    h1 {
        margin-bottom : 10vh;
        text-align: center;
        font-weight : $Bold;
        font-size : 4rem;
    }
    label {
        margin-left : 15%;
        font-weight : normal;

    }
    input {
        display : block;
    }
         
      
   #registration_form_email {
    border : 2px solid black;
    margin : 2% auto;
    width: 70%;
      
   }
   #registration_form_password_first, #registration_form_password_second  {
        border : 2px solid black;
        width: 70%;
        margin : 2% auto;
   }

   .btn {
    display : block;
    background: green;
    color : white;
    font-weight : $Bold;
    padding : 1.2vw;
    border-radius : 5px;
    margin-left : 35%;
    margin-top : 5%;
    cursor : pointer;
    width: 29%;

    }
    

}
        // X-Small devices (portrait phones, less than 576px)
        @media (max-width: 575.98px) {      
            // background: yellow; 
            form {
                padding : 3%;
                height : 70vh;
                h1 {
                    font-size : 2.6rem;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.3rem;
                }           
               .btn { 
                padding : 2vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 38%;           
                }
                
            
            }
         
       }

           // Small devices (landscape phones, less than 768px)
           @media (min-width: 576px) and (max-width: 767.98px) { 
            // background: red;
            form {
                padding : 3%;
                height : 70vh;
                h1 {
                    font-size : 2.6rem;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.3rem;
                }           
               .btn { 
                padding : 2vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 38%;           
                }             
           
            }

           }


           // Medium devices (tablets, less than 992px)
           @media (min-width: 768px) and (max-width: 991.98px) { 
            // background: blue;
            form {
                padding : 3%;
                height : 70vh;
                h1 {
                    font-size : 2.6rem;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.3rem;
                }           
               .btn { 
                padding : 2vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 38%;           
                }
           
           

           } }


       // Large devices (desktops, less than 1200px)
       @media (min-width: 992px) and (max-width: 1199.98px) { 

        // background: green;
        form {
            padding : 3%;
            height : 80vh;
            h1 {
                font-size : 2.6rem;
            }
            label {
                margin-left : 16%;
                font-weight : normal;
                font-size : 1.3rem;
            }           
           .btn { 
            padding : 2vw;
            margin-left : 30%;
            margin-top : 7%;

            width: 38%;           
            }
       
       

       }



       }

       // X-Large devices (large desktops, less than 1400px)
       @media (min-width: 1200px) and (max-width: 1399.98px) { 

        //  background: purple;

}
}