.bg-request {
    background-image: url(../../../../assets/img/illustrations/enfant.jpg);
    background-size: cover; 
    background-repeat: no-repeat;


form {
    // border : 2px solid $color1; 
    margin: 45vh 25%;
    padding : 2%;
    background: white;
    
    h1 {
        margin-bottom : 1vh;
        text-align: center;
        font-weight : $Bold;
        font-size : 3.5rem;
        color : $color1;
    }
    .sml-pw {
        margin-left : 10%;
        font-size : 1.2rem;
    }
    label {
        margin-left : 15%;
        font-weight : normal;   
    }
    input {
        display : block;
    }

    #reset_password_request_form_email {
        border : 2px solid black;
        margin : 1% auto 3%;
        width: 70%;

    }
    .request-btn {
        display : block;
        background: green;
        color : white;
        font-weight : $Bold;
        padding : 1.2vw;
        border-radius : 5px;
        margin-left : 35%;
        margin-top : 5%;
        cursor : pointer;
        width: 29%;

    }


}



 
        // X-Small devices (portrait phones, less than 576px)
        @media (max-width: 575.98px) {      
            //  background: yellow; 
             form {
                padding : 3%;
                height : 58vh;
                h1 {
                    font-size : 2.1rem;
                    margin-bottom : 4%;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.2rem;
                }   
                .sml-pw {
                    margin-left : 2%;
                    font-size : 1rem;
                }        
               .request-btn{ 
                padding : 2.5vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 45%;           
                }
                
            
            }
          
        }

            // Small devices (landscape phones, less than 768px)
            @media (min-width: 576px) and (max-width: 767.98px) { 
            //   background: red;
              form {
                padding : 3%;
                height : 50vh;
                h1 {
                    font-size : 2.1rem;
                    margin-bottom : 4%;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.3rem;
                }   
                .sml-pw {
                    margin-left : 2%;
                    font-size : 1.15rem;
                }        
               .request-btn{ 
                padding : 2.5vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 45%;           
                }
                
            
            }
           
             
           


            }


            // Medium devices (tablets, less than 992px)
            @media (min-width: 768px) and (max-width: 991.98px) { 
            //   background: blue;
              form {
                padding : 3%;
                height : 50vh;
                h1 {
                    font-size : 2.2rem;
                    margin-bottom : 4%;
                }
                label {
                    margin-left : 16%;
                    font-weight : normal;
                    font-size : 1.3rem;
                }   
                .sml-pw {
                    margin-left : 1.5%;
                    font-size : 1.15rem;
                }        
               .request-btn{ 
                padding : 2.5vw;
                margin-left : 30%;
                margin-top : 7%;
                width: 45%;           
                }
                
            
            }
         
             
            
            

            }


        // Large devices (desktops, less than 1200px)
        @media (min-width: 992px) and (max-width: 1199.98px) { 

        //   background: green;

        form {
            padding : 3%;
            height : 65vh;
            h1 {
                font-size : 2.2rem;
                margin-bottom : 4%;
            }
            label {
                margin-left : 16%;
                font-weight : normal;
                font-size : 1.3rem;
            }   
            .sml-pw {
                margin-left : 1.5%;
                font-size : 1.15rem;
            }        
           .request-btn{ 
            padding : 2.5vw;
            margin-left : 30%;
            margin-top : 7%;
            width: 45%;           
            }
            
        
        }



        }

        // X-Large devices (large desktops, less than 1400px)
        @media (min-width: 1200px) and (max-width: 1399.98px) { 

        //   background: purple;

}
}