.message-accueil {
    background: rgb(27, 235, 27);
    color : black;
    font-weight : $Bold;
    font-style: oblique;
    text-align: center;
    margin : auto;
    width : fit-content;
    border-radius : 5px;
    padding : 5vw;
}